@import "./GlobalAnimations.scss";

$highlightedDelay: 100ms;

* {
    transition: none;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 48px;

    .section-title {
        font-size: 3rem;
        margin-bottom: 16px;

        transform: translateY(-200%);

        animation-name: DropInFromTop;
        animation-duration: 400ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    p {
        text-align: left;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .profile-picture {
        height: 350pt;
        width: 233pt;
        border-radius: 16px;
    }

    .info {
        width: 80%;
        
        b {
            opacity: 0.1;

            animation-name: FadeIn;
            animation-duration: 300ms;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;

            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    animation-delay: #{150ms + ($highlightedDelay * $i)};
                }
            }
        }

        .social-links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 40pt;
            margin-top: 24px;

            a {
                width: 40pt;
                height: 40pt;

                .social-icon {
                    width: 100%;
                    height: 100%;
                    transition: 250ms;

                    &:hover {
                        width: 130%;
                        height: 130%;

                        transform: translate(-15%, -15%) rotate(5deg)
                    }
                }

            }
        }
    }
}

@media(prefers-color-scheme: light) {
    .social-links {
        a {
            .social-icon {
                filter: brightness(15%);
            }
        }
    }
}

@media(prefers-color-scheme: dark) {
    .social-links {
        a {
            .social-icon {
                filter: brightness(95%);

                &:hover {
                    filter: brightness(120%)
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    * {
        transition: none;
    }

    .profile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .profile-picture {
            width: 0;
            height: 0;
            opacity: 0;
        }
    
        .info {
            margin-right: 8px;
            width: 100%;

            p {
                transition: none;
                margin-top: 12px;
                margin-bottom: 12px;
    
            }

            .social-links {
                gap: 10pt;
                margin-top: 20px;
    
                a {
                    .social-icon {
                        display: flex;
                        width: 40pt;
                        height: 40pt;

                        &:hover {
                            width: 100%;
                            height: 100%;

                            transform: none
                        }
                    }
                }
            }
        }
    }
}