/** @format */

@import './GlobalVariables.scss';

.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 4px;

	text-decoration: none;
	font-weight: 400;

	border: none;
	outline: none;

	border-radius: 8px;
	padding: 4px 12px;
	transition: opacity 300ms ease-in-out, transform 300ms var(--popBezierCurve),
		filter 300ms var(--popBezierCurve), background-color 200ms ease-in-out;

	transform: translateY(-2px);

	transform-style: preserve-3d;
	background-color: var(--buttonColor);

	cursor: pointer;

	&::before {
		content: '';
		opacity: 1;
		inset: 0;
		position: absolute;

		border-radius: inherit;

		z-index: -11;
		transform: translateZ(-1px) translateY(6px);
		transition: inherit;

		background-color: var(--buttonShadowColor);
	}

	&:hover,
	&:focus {
		//filter: drop-shadow(0 4px 0 $buttonShadowColor) brightness(110%);
		transform: translateY(0);
		background-color: var(--buttonHoverColor);

		&::before {
			background-color: var(--buttonHoverShadowColor);
			transform: translateZ(-1px) translateY(4px);
		}
	}
}
