$navbarHeight: 50pt;

$fontColorLight: #111111;
$backgroundColorLight: #DDDDDD;
$foregroundColorLight: #EEEEEE;
$primaryBorderColorLight: #BBBBBB;

$fontColorDark: #eeeeee;
$backgroundColorDark: #111111;
$foregroundColorDark: #1a1a1a;
$primaryBorderColorDark: #333333;

$fontColorHighlighted: #4488e7;
$buttonColor: #4488e7;