@keyframes FadeIn {
	from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes DropInFromTop {
    0% {
        transform: translateY(-150%);
    }
    60% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes PopInFromBottom {
    0% {
        transform: translateY(150%);
    }
    60% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}