$mobileScreenWidth: 800px;

$scrollSpeed: 300ms;

$navbarHeight: 50pt;
$navbarMenuOpenSpeed: 300ms;
$navbarMenuIconSize: 30pt;
$navbarOpenWidth: 50vw;

$fontColorLight: #111111;
$backgroundColorLight: #DDDDDD;
$foregroundColorLight: #EEEEEE;
$primaryBorderColorLight: #BBBBBB;
$dividerColorLight: #BBBBBB;

$fontColorDark: #eeeeee;
$backgroundColorDark: #111111;
$foregroundColorDark: #1a1a1a;
$primaryBorderColorDark: #333333;
$dividerColorDark: #333333;

$fontColorHighlighted: #4488e7;
$buttonColor: #4488e7;
$buttonShadowColor: #1d56a5;

$darkShadow: rgba(0, 0, 0, 0.7);
$lightShadow: rgba(100, 100, 100, 0.4);

@mixin NoSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin LinkHover {
    transition: 350ms cubic-bezier(.64,.04,0,1.92);//cubic-bezier(.64,.04,.09,1.57);
    &:hover {
        transform: scale(120%) translateY(-15%);
    }
}