@import "./GlobalVariables.scss";
@import "./GlobalAnimations.scss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$mobileScreenWidth: 800px;

:root {

	@media (prefers-color-scheme: dark) {
		--fontColor: #eeeeee;
		--fontColorFaint: #b1b1b1;
		--backgroundFontColor: #AAAAAA;
		--backgroundColor: #0c0c0c;
		--foregroundColor: #131313;
		--primaryBorderColor: #2e2e2e;
		--dividerColor: #333333;
		--formField: var(--foregroundColor);
		--formFieldBorder: var(--primaryBorderColor);


		--navbarColor: #0c0c0caa;
		--navbarHoverColor: #81818155;
	}
	
	@media (prefers-color-scheme: light) {
		--fontColor: #111111;
		--fontColorFaint: #404040;
		--backgroundFontColor: #777777;
		--backgroundColor: #DDDDDD;
		--foregroundColor: #EEEEEE;
		--primaryBorderColor: #BBBBBB;
		--dividerColor: #BBBBBB;
		--formField: var(--foregroundColor);
		--formFieldBorder: var(--primaryBorderColor);
		--formFieldSelectBorder: var(--fontColor);

		--navbarColor: #ffffffc9;
		--navbarHoverColor: #9f9f9f55;
	}

	font-size: 20px;
	line-height: 28px;
	font-weight: 400;

	color-scheme: light dark;
	//color: var(--fontColor);

	font-family: 'Kanit', Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--navbarHeight: 40pt;
	--navbarMenuOpenSpeed: 300ms;
	--navbarMenuIconSize: 30pt;
	--navbarOpenWidth: 50vw;
	
	--primaryBorderRadius: 12px;
	--buttonBorderRadius: 8px;
	
	--fontColorHighlighted: #4488e7;
	
	--buttonColor: #4283df;
	--buttonFontColor: var(--fontColorDark);
	--buttonShadowColor: #1b509b;
	
	--accentColorBlue: #4283df;
	--accentColorRed: #e12727;
	--accentColorOrange: #EE7B30;
	--accentColorGreen: #3BB273;
	
	--buttonHoverColor: #396fba;
	--buttonHoverShadowColor: #16407a;
	
	--darkShadow: rgba(0, 0, 0, 1);
	--lightShadow: rgba(30, 30, 30, 0.4);
	
	--popBezierCurve: cubic-bezier(.64,.04,0,1.92);

	

}

* {
	margin: 0;
	padding: 0;
	transition: none;
	box-sizing: border-box;
}

html {

}

img {
	@include NoSelect;
}

a {
	@include NoSelect;	
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	transition: none;

	background-color: var(--backgroundColor);
	color: var(--fontColor);
}



p {
	font-weight: 200;

	b {
		font-weight: 400;
	}
}

h1, h2 {
	font-weight: 600;
}
h3, h4 {
	font-weight: 500;
}
h5 {
	font-weight: 400;
}

.container {
	padding-top: var(--navbarHeight);
	position: absolute;
	width: 100%;
	height: 100%;

	transition: top var(--scrollSpeed) ease-in-out;
	scrollbar-width: none;
	scroll-behavior: smooth;

	.scroll-path {
		opacity: 1;
		position: fixed;
		width: 100%;
		top: var(--navbarHeight);
		fill: transparent;

		pointer-events: none;

		@for $x from 1 through 10 {
			&:nth-child(#{$x}) {
				.path {
					stroke: rgba(10*$x, 100*$x, 70*$x);
					stroke-linecap: round;
					transition: 200ms;
		
					@for $i from 1 through 10 {
						&:nth-child(#{$i}) {
							stroke-width: calc((($i / 10) * 1 - ($x / 10)) * 150px);
							opacity: calc((1 - ($i / 10)) * 0.02);
							r: calc(150px * $i)
						}
					}
				}
			}
		}
		
	}	

	.scroll-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		scroll-snap-align: end;
		width: 100%;
		min-height: 100vh;

		transition: opacity 250ms ease-in-out;

		overflow: hidden;
		
		&.active {
			
		}

		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			max-width: 1200px;
			width: 95%;
			padding: 24px;
			border-radius: 16px;
		}
	}
}


@media only screen and (max-width: $mobileScreenWidth) {
	:root {
		font-size: 16px;
        line-height: 24px;
	}

	_::-webkit-full-page-media, _:future, :root .safari_only {
	    padding-bottom: 55pt;
    }

	.container {
		overflow-y: scroll;
		scroll-behavior: smooth;
		
		.scroll-section {
			justify-content: flex-start;
			padding: 8px;
			margin-top: calc(var(--navbarHeight));
			.section-title {
				font-size: 2.2rem;
			}

			.header {
				margin-bottom: 8px;
			}

			.content {
				background-color: transparent;
				border-color: transparent;
				padding: 0;
				margin-top: 2pt;
			}
		}
	}
}