@import "./GlobalVariables.scss";
@import "./GlobalAnimations.scss";
@import "./GlobalFonts.scss";

:root {
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;

	color-scheme: light dark;
	color: $fontColorLight;

	font-family: 'Kanit', sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	
}

* {
	margin: 0;
	padding: 0;
	transition: none;
	box-sizing: border-box;
}

html {

}

img {
	@include NoSelect;
}

a {
	@include NoSelect;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	transition: none;
}



p {
	font-weight: 300;

	b {
		font-weight: 500;
		color: $fontColorHighlighted;
	}
}

h1, h2 {
	font-weight: 600;
}
h3, h4 {
	font-weight: 500;
}
h5 {
	font-weight: 400;
}

br {
	content: "";
	display: block;
	margin: 1em;
	font-size: 24%;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;

	transition: top $scrollSpeed ease-in-out;
	scrollbar-width: none;
	scroll-behavior: smooth;

	.scroll-path {
		opacity: 1;
		position: fixed;
		width: 100%;
		top: $navbarHeight;
		fill: transparent;

		pointer-events: none;

		@for $x from 1 through 10 {
			&:nth-child(#{$x}) {
				.path {
					stroke: rgba(10*$x, 100*$x, 70*$x);
					stroke-linecap: round;
					transition: 200ms;
		
					@for $i from 1 through 10 {
						&:nth-child(#{$i}) {
							stroke-width: calc((($i / 10) * 1 - ($x / 10)) * 150px);
							opacity: calc((1 - ($i / 10)) * 0.02);
							r: calc(150px * $i)
						}
					}
				}
			}
		}
		
	}	

	.scroll-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		scroll-snap-align: end;
		width: 100%;
		min-height: 100vh;

		transition: opacity 250ms ease-in-out;

		overflow: hidden;
		
		&.active {
			
		}

		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			max-width: 1200px;
			width: 95%;
			padding: 24px;
			border-radius: 16px;
		}
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: $backgroundColorDark;
		color: $fontColorDark;
	}

	.container {
		.scroll-section {
			.content {
				
			}
		}
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: $backgroundColorLight;
		color: $fontColorLight;
	}

	.container {
		.scroll-section {
			.content {
				
			}
		}
	}
}

@media only screen and (max-width: $mobileScreenWidth) {
	:root {
		font-size: 16px;
        line-height: 24px;
	}

	_::-webkit-full-page-media, _:future, :root .safari_only {
	    padding-bottom: 55pt;
    }

	.container {
		overflow-y: scroll;
		scroll-behavior: smooth;
		.scroll-section {
			justify-content: flex-start;
			padding: 8px;
			padding-top: calc(($navbarMenuIconSize / 2));
			.section-title {
				font-size: 2.2rem;
			}

			.header {
				margin-bottom: 8px;
			}

			.content {
				background-color: transparent;
				border-color: transparent;
				padding: 0;
				margin-top: 2pt;
			}
		}
	}
}