@import './GlobalVariables.scss';
@import './GlobalAnimations.scss';


$navbarItemSpeed: 150ms;
$navbarItemTransitionDelay: 60ms;


.navbar {
    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    height: $navbarHeight;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 8px;
    gap: 16px;

    border-bottom: 1px solid transparent;
    overflow: hidden;

    z-index: 12;

    .openButton {
        display: none;
    }

    img {
        position: absolute;
        left: 12px;
        height: 32px;

        @include NoSelect;

        transform: translateY(-150%);

        animation-name: DropInFromTop;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        text-decoration: none;
        padding: 8px;

        border-radius: 8px;
        overflow: hidden;

        font-size: 20px;

        @include NoSelect;

        transform: translateY(-150%);

        animation-name: DropInFromTop;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;

        @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                animation-delay: calc($navbarItemTransitionDelay * $i);
            }
        }

        span {
            z-index: 1;
        }

        .background {
            position: absolute;

            width: 100%;
            height: 100%;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
	.navbar {
		background-color: $foregroundColorDark;
		color: $fontColorDark;

        border-color: $primaryBorderColorDark;
        
        img {
            filter: brightness(80%);
        }

        a {
            color: $fontColorDark;

            .background {
                background-color: $foregroundColorDark;
            }
        }

        a:hover {
            span {
                filter: brightness(110%)
            }
            .background {
                filter: brightness(150%);
            }
        }
	}
}

@media (prefers-color-scheme: light) {
	.navbar {
		background-color: $foregroundColorLight;
		color: $fontColorLight;
        border-color: $primaryBorderColorLight;

        img {
            filter: brightness(15%);
        }

        a {
            color: $fontColorLight;
            
            .background {
                background-color: $foregroundColorLight;
            }
        }

        a:hover {
            .background {
                filter: brightness(92%);
            }
        }
	}

}

@media only screen and (max-width: $mobileScreenWidth) {
    .navbar {
        position: fixed;
        left: none;
        right: 0;
        height: 100vh;
        width: 0;

        flex-direction: column;
        justify-content: flex-start;

        padding: 0;
        padding-top: 70pt;

        gap: 0;

        border-left-width: 1px;
        border-left-style: solid;
        border-bottom: none;

        transition: width $navbarMenuOpenSpeed ease-in-out;

        &#open {
            width: $navbarOpenWidth;

            a {
                transform: translateX(0%);
                transition: transform $navbarItemSpeed ease-in-out;

                @for $i from 1 through 8 {
                    &:nth-child(#{$i}) {
                        transition-delay: #{$navbarItemTransitionDelay * $i};
                    }
                }
            }

        }

        img {
            display: none;
        }

        a {
            font-size: 2rem;
            border-radius: 0;
            width: 100%;
            transform: translateX(100%);
            padding: 16px;
            margin: 0;

            justify-content: flex-end;

            animation: none;

            
        }
    }

    
}