@import './GlobalVariables.scss';
@import './GlobalAnimations.scss';


$navbarItemSpeed: 150ms;
$navbarItemTransitionDelay: 60ms;

.navbar-header {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: $navbarHeight;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 8px;
    gap: 16px;

    border-bottom: 1px solid transparent;
    overflow: hidden;

    z-index: 10;
    opacity: 0;

    transition: opacity 200ms ease-in-out;

    img {
        position: absolute;
        left: 12px;
        height: 32px;

        @include NoSelect;

        transform: translateY(-150%);
        z-index: inherit;

        animation-name: DropInFromTop;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    &.visible {
        opacity: 1;
        
    }
}

.navbar {
    position: fixed;
    top: 0;
    
    height: $navbarHeight;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    margin: 0;
    border: 1px solid transparent;
    border-bottom-left-radius: $primaryBorderRadius;
    border-bottom-right-radius: $primaryBorderRadius;
    overflow: hidden;
    transition:
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out,
        height 150ms ease-in-out,
        filter 200ms ease-in-out
    ;
    
    filter: drop-shadow(0 0 4px transparent);

    z-index: 11;
    a {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        text-decoration: none;
        padding: 8px;
        padding-inline: 12px;
        margin-inline: 4px;
        flex: 1;

        border-radius: 8px;
        overflow: hidden;

        font-size: 20px;

        @include NoSelect;

        transition:
            border-radius 300ms ease-in-out,
            padding-inline 200ms ease-in-out,
            margin 200ms ease-in-out
        ;

        transform: translateY(-150%);

        animation-name: DropInFromTop;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;

        @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                animation-delay: calc($navbarItemTransitionDelay * $i);
            }
        }

        &:hover, &:focus {
            outline: none;

            span {
                
            }
        }

        span {
            z-index: 1;

            transition: transform 250ms $popBezierCurve;
        }

        .background {
            position: absolute;

            width: 100%;
            height: 100%;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            transition:
                background-color 200ms ease-in-out
            ;
        }
    }

    &.undocked {
        a {
            padding-inline: 20px;
            margin-inline: 0px;
        }
    }
}

@media (prefers-color-scheme: dark) {

    .navbar-header {
        
		background-color: $foregroundColorDark;
        border-color: $primaryBorderColorDark;

    }


	.navbar {
		color: $fontColorDark;

        @media screen and (min-width: $mobileScreenWidth) {
            &.undocked {
                background-color: rgba($color: $foregroundColorDark, $alpha: 0.6);
                backdrop-filter: blur(10px);
                //border-color: $primaryBorderColorLight;
            }
        }
        
        @media screen and (max-width: $mobileScreenWidth) {
            background-color: $foregroundColorDark;
        }

        img {
            filter: brightness(80%);
        }

        a {
            color: $fontColorDark;
            &:hover, &:focus, &.active {
                .background {
                    background-color: rgba($color: $foregroundHoverColorDark, $alpha: 0.7);
                }
            }
        }
	}
}

@media (prefers-color-scheme: light) {
    .navbar-header {
        
		background-color: $foregroundColorLight;
        border-color: $primaryBorderColorLight;

        img {
            filter: brightness(15%);
        }

    }

	.navbar {
        @media screen and (min-width: $mobileScreenWidth) {
            &.undocked {
                background-color: rgba($color: $foregroundColorLight, $alpha: 0.6);
                backdrop-filter: blur(10px);
                //border-color: $primaryBorderColorLight;
            }
        }

        @media screen and (max-width: $mobileScreenWidth) {
            background-color: $foregroundColorLight;
        }

        a {
            color: $fontColorLight;
            &:hover, &:focus, &.active {
                .background {
                    background-color: rgba($color: $foregroundHoverColorLight, $alpha: 0.7);
                }
            }
        }
	}

}

@media only screen and (min-width: $mobileScreenWidth) {
    .navbar {
        right: 50%;
        transform: translateX(50%);

        &.undocked {
            transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out, height 300ms ease-in-out;
            height: calc($navbarHeight * 0.7);
    
            a {
                border-radius: 0;
            }
        }
    }
}

@media only screen and (max-width: $mobileScreenWidth) {
    .navbar-header {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0;

        flex-direction: column;
        justify-content: flex-start;

        padding: 0;
        padding-top: 70pt;

        gap: 0;

        border-left-width: 1px;
        border-left-style: solid;
        border-bottom: none;

        transition: width $navbarMenuOpenSpeed ease-in-out;

        &#open {
            width: $navbarOpenWidth;

            a {
                transform: translateX(0%);
                transition: transform $navbarItemSpeed ease-in-out;

                @for $i from 1 through 8 {
                    &:nth-child(#{$i}) {
                        transition-delay: #{$navbarItemTransitionDelay * $i};
                    }
                }
            }

        }

        img {
            display: none;
        }

        a {
            flex: none;
            border-radius: 0;
            width: 100%;
            transform: translateX(100%);
            padding: 16px;
            margin: 0;
            font-size: 1.5rem;

            justify-content: flex-end;

            animation: none;

            
        }
    }

    
}