/** @format */

@import './GlobalVariables.scss';

.textArea-wrapper {
	width: 100%;
	background-color: var(--formField);
	border: 1px solid var(--formFieldBorder);
	border-radius: 12px;
	padding: 12px;

	&.focus {
		border-color: var(--formFieldSelectBorder);
	}

	label {
		@include ScreenReaderText;
	}

	textarea {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		resize: none;
		overflow-y: scroll;
		border: none;
		outline: none;

		background-color: transparent;
	}
}
